@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');

body {
    font-family: 'Afacad Flux', sans-serif;
    background-color: #f0f8ff; /* Light blue background */
    color: #333; /* Dark text for readability */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

header {
    background-color: #ffebcd; /* Blanched almond */
    width: 100%;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    margin: 0;
    font-size: 2.5em;
    color: #4682b4; /* Steel blue */
    font-family: 'Arial Black', 'Helvetica Neue', sans-serif;
    font-weight: 900;
}

main {
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #ffebcd;
    width: 100%;
    padding: 10px;
    text-align: center;
    position: absolute;
    bottom: 0;
}

p {
    font-size: 1.2em;
}

h2 {
    font-family: 'ITC Benguiat', 'Benguiat Bold', serif;
    /* Otros estilos para h2 */
}
